<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983048994099-k7m1v1k79t1ptvdo1evmr56pnijat1ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983048994099-k7m1v1k79t1ptvdo1evmr56pnijat1ak</string>
	<key>API_KEY</key>
	<string>AIzaSyDTXSJfKvwQTB6tOGxpZspgCPQ1MHHiO90</string>
	<key>GCM_SENDER_ID</key>
	<string>983048994099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RJHrabowskie.FoodOrdering</string>
	<key>PROJECT_ID</key>
	<string>food-ordering-80439</string>
	<key>STORAGE_BUCKET</key>
	<string>food-ordering-80439.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983048994099:ios:81eb8fa525adb3489d1246</string>
	<key>DATABASE_URL</key>
	<string>https://food-ordering-80439.firebaseio.com</string>
</dict>
</plist>